#main-banner{
    padding: 400px 0 30px 5%;
    width: 95%;
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-image: url(fans.jpg);
}
#about{
    text-align: center;
    font-size: 20px;
}
#about>p{
    font-size: 30px;
    margin: 20px;
}
@media(orientation: landscape) {
    #about{
        padding: 0 15% 5% 15%;
        
    }
}
@media(orientation: portrait) {
    #main-banner{
        padding: 300px 0 30px 5%;
    }
}